
<footer class="text-light">
  <div class="container py-5">
    <div class="row">

      <div class="col-12 col-lg p-3 order-lg-4">
        <img src="{{ "/img/bbb-aplus.png" | relative_url }}" alt="">
        <div class="social">
          {% if site.facebook %}
          <a href="{{ site.facebook }}"><i class="fab fa-facebook"></i></a>
          {% endif %}
          {% if site.google %}
          <a href="{{ site.google }}"><i class="fab fa-google"></i></a>
          {% endif %}
        </div>
      </div>

      <div class="col-12 col-lg p-3 order-lg-2">
        <h5>Contact</h5>
        <div class="text-small text-white-50 pb-4">
          {{ site.street }} <br>
          {{ site.city }}, {{ site.state }} {{ site.zipcode }}
        </div>
        <div class="text-small text-white-50">
          {{ site.phone }}
        </div>
      </div>

      <div class="col-8 col-lg p-3 order-lg-3">
        <h5>Office Hours</h5>
          <span class="text-white-50 d-block">Sunday - {{ site.hours.sun }}</span>
          <span class="text-white-50 d-block">Monday - {{ site.hours.mon }}</span>
          <span class="text-white-50 d-block">Tuesday - {{ site.hours.tue }}</span>
          <span class="text-white-50 d-block">Wednesday - {{ site.hours.wed }}</span>
          <span class="text-white-50 d-block">Thursday - {{ site.hours.thur }}</span>
          <span class="text-white-50 d-block">Friday - {{ site.hours.fri }}</span>
          <span class="text-white-50 d-block">Saturday - {{ site.hours.sat }}</span>
      </div>

      <div class="col-12 col-lg p-3 order-lg-1 footer-logo">
        <img src="{{ site.logo-dark | relative_url }}" alt="">
        <small class="d-block mb-3 text-white-50">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
      </div>
    </div>
  </div>
</footer>