
<footer class="text-light">
  <div class="container py-5">
    <div class="row">

      <div class="col-12 col-lg p-3 order-lg-4">
        <img src="{{ "/img/bbb-aplus.png" | relative_url }}" alt="">
      </div>

      <div class="col-12 col-lg p-3 order-lg-2">
        <h5>Contact</h5>
        <div class="text-small text-white-50 pb-4">
          {{ site.street }} <br>
          {{ site.city }}, {{ site.state }} {{ site.zipcode }}
        </div>
        <div class="text-small text-white-50">
          {{ site.phone }}
        </div>
      </div>

      <div class="col-8 col-lg p-3 order-lg-3">
        <h5>Office Hours</h5>
          <span class="text-white-50 d-block">Sunday - Closed</span>
          <span class="text-white-50 d-block">Monday - 7am - 6pm</span>
          <span class="text-white-50 d-block">Tuesday - 7am - 6pm</span>
          <span class="text-white-50 d-block">Wednesday - 7am - 6pm</span>
          <span class="text-white-50 d-block">Thursday - 7am - 6pm</span>
          <span class="text-white-50 d-block">Friday - 7am - 6pm</span>
          <span class="text-white-50 d-block">Saturday - 7am - 6pm</span>
      </div>

      <div class="col-12 col-lg p-3 order-lg-1">
        <img src="{{ site.logo | relative_url }}" alt="">
        <small class="d-block mb-3 text-white-50">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
      </div>
    </div>
  </div>
</footer>