
<nav class="navbar sticky-top navbar-expand-md navbar-light">
  <a class="navbar-brand" href="/"><img src="{{ site.logo | relative_url }}" alt=""></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <span class="navbar-nav mr-auto">

      {% if page.layout == 'home' %}
      <a class="nav-item nav-link active" href="/">Home</a>
      {% else %}
      <a class="nav-item nav-link" href="/">Home</a>
      {% endif %}

			{% assign my_pages = (site.pages | sort: 'nav-order') %}
			{% for node in my_pages %}
        {% if node.layout != "home" and node.nav-menu == true %}
          {% if page.url == node.url %}
          <a class="nav-item nav-link active" href="{{ node.url | absolute_url }}">{{ node.title }}</a>
          {% else %}
          <a class="nav-item nav-link" href="{{ node.url | absolute_url }}">{{ node.title }}</a>
          {% endif %}
				{% endif %}
			{% endfor %}

    </span>
  </div>
</nav>
