
<div class="alert alert-success d-sm-flex d-md-none d-flex justify-content-center" role="alert">
  <a href="tel:{{ site.phone }}" class="btn btn-success">{{ site.phone }}</a>
</div>

<nav class="navbar sticky-top navbar-expand-md navbar-light">
  <a class="navbar-brand" href="/" aria-label="Better Way Pest Control Home"><img src="{{ site.logo-light | relative_url }}" alt=""></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <span class="navbar-nav mr-auto position-relative">
    {% for nav in site.nav %}
      {% if nav.subpages %}
      
      {% assign submatch = nav.url | remove: '/' %}
      {% assign toppage = page.url | remove_first: '/' | split: '/' | first %}

      <a class="nav-link dropdown-toggle {% if toppage == submatch %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">{{ nav.title }}</a>
      <span class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for subnav in nav.subpages %}
        <a class="dropdown-item {% if page.url == subnav.url %}active{% endif %}" href="{{ subnav.url }}">{{ subnav.title }}</a>
        {% endfor %}
      </span>
      {% else %}
      <a class="nav-item nav-link {% if page.url == nav.url %}active{% endif %}" href="{{ nav.url }}">{{ nav.title }}</a>
      {% endif %}
    {% endfor %}
    </span>

    <span class="my-2 my-lg-0 d-none d-md-block call-us">
      Give us a call today
      <a href="tel:{{ site.phone }}" class="btn btn-success">
        <i class="fas fa-phone"></i>
        {{ site.phone }}</a>
    </span>
  </div>
</nav>
