
<div class="alert alert-success d-sm-flex d-md-none d-flex justify-content-center" role="alert">
  <a href="tel:{{ site.phone }}" class="btn btn-success">{{ site.phone }}</a>
</div>

<nav class="navbar sticky-top navbar-expand-md navbar-light">
  <a class="navbar-brand" href="/"><img src="{{ site.logo-dark | relative_url }}" alt=""></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <span class="navbar-nav mr-auto">
      <a class="nav-item nav-link {% if page.layout == 'home' %}active{% endif %}" href="/">Home</a>

			{% assign my_pages = (site.pages | sort: 'nav-order') %}
			{% for navPage in my_pages %}
        {% if navPage.layout != "home" and navPage.nav-menu == true %}
          <a class="nav-item nav-link {% if page.url == navPage.url %}active{% endif %}" href="{{ navPage.url | absolute_url }}">{{ navPage.title }}</a>
				{% endif %}
			{% endfor %}

    </span>

    <span class="my-2 my-lg-0 d-none d-md-block call-us">
      Give us a call today
      <a href="tel:{{ site.phone }}" class="btn btn-success">
        <i class="fas fa-phone"></i>
        {{ site.phone }}</a>
    </span>
  </div>
</nav>
