<script src="https://js.squareupsandbox.com/v2/paymentform"></script>

<script type="text/javascript">
  // Create and initialize a payment form object
  const paymentForm = new SqPaymentForm({
    // Initialize the payment form elements
    
    //TODO: Replace with your sandbox application ID
    applicationId: "REPLACE_WITH_APPLICATION_ID",
    inputClass: 'sq-input',
    autoBuild: false,
    // Customize the CSS for SqPaymentForm iframe elements
    inputStyles: [{
        fontSize: '16px',
        lineHeight: '24px',
        padding: '16px',
        placeholderColor: '#a0a0a0',
        backgroundColor: 'transparent',
    }],
    // Initialize the credit card placeholders
    cardNumber: {
        elementId: 'sq-card-number',
        placeholder: 'Card Number'
    },
    cvv: {
        elementId: 'sq-cvv',
        placeholder: 'CVV'
    },
    expirationDate: {
        elementId: 'sq-expiration-date',
        placeholder: 'MM/YY'
    },
    postalCode: {
        elementId: 'sq-postal-code',
        placeholder: 'Postal'
    },
    // SqPaymentForm callback functions
    callbacks: {
        /*
        * callback function: cardNonceResponseReceived
        * Triggered when: SqPaymentForm completes a card nonce request
        */
        cardNonceResponseReceived: function (errors, nonce, cardData) {
        if (errors) {
            // Log errors from nonce generation to the browser developer console.
            console.error('Encountered errors:');
            errors.forEach(function (error) {
                console.error('  ' + error.message);
            });
            alert('Encountered errors, check browser developer console for more details');
            return;
        }
           alert(`The generated nonce is:\n${nonce}`);
           //TODO: Replace alert with code in step 2.1
        }
    }
  });
  //TODO: paste code from step 1.1.4
</script>


<div id="form-container">
  <div id="sq-card-number"></div>
  <div class="third" id="sq-expiration-date"></div>
  <div class="third" id="sq-cvv"></div>
  <div class="third" id="sq-postal-code"></div>
  <button id="sq-creditcard" class="button-credit-card" onclick="onGetCardNonce(event)">Pay $1.00</button>
</div> <!-- end #form-container --> 
<!-- TODO: Add script from step 1.1.3 -->
<script type="text/javascript">
  // Create and initialize a payment form object
  const paymentForm = new SqPaymentForm({
    // Initialize the payment form elements
    
    //TODO: Replace with your sandbox application ID
    applicationId: "sandbox-sq0idb-48WJfMHZS8qqO3i-DSY1tg",
    inputClass: 'sq-input',
    autoBuild: false,
    // Customize the CSS for SqPaymentForm iframe elements
    inputStyles: [{
        fontSize: '16px',
        lineHeight: '24px',
        padding: '16px',
        placeholderColor: '#a0a0a0',
        backgroundColor: 'transparent',
    }],
    // Initialize the credit card placeholders
    cardNumber: {
        elementId: 'sq-card-number',
        placeholder: 'Card Number'
    },
    cvv: {
        elementId: 'sq-cvv',
        placeholder: 'CVV'
    },
    expirationDate: {
        elementId: 'sq-expiration-date',
        placeholder: 'MM/YY'
    },
    postalCode: {
        elementId: 'sq-postal-code',
        placeholder: 'Postal'
    },
    // SqPaymentForm callback functions
    callbacks: {
        /*
        * callback function: cardNonceResponseReceived
        * Triggered when: SqPaymentForm completes a card nonce request
        */
        cardNonceResponseReceived: function (errors, nonce, cardData) {
        if (errors) {
            // Log errors from nonce generation to the browser developer console.
            console.error('Encountered errors:');
            errors.forEach(function (error) {
                console.error('  ' + error.message);
            });
            alert('Encountered errors, check browser developer console for more details');
            return;
        }
           alert(`The generated nonce is:\n${nonce}`);
           //TODO: Replace alert with code in step 2.1
        }
    }
  });
  //TODO: paste code from step 1.1.4
     //TODO: paste code from step 1.1.5
     paymentForm.build();

     // onGetCardNonce is triggered when the "Pay $1.00" button is clicked
     function onGetCardNonce(event) {
       // Don't submit the form until SqPaymentForm returns with a nonce
       event.preventDefault();
       // Request a nonce from the SqPaymentForm object
       paymentForm.requestCardNonce();
     }

</script>






<!-- {% if site.paypal-sandbox != true %}
<form class="needs-validation" action="https://www.paypal.com/cgi-bin/webscr" method="post"  data-track="Payment Submit" novalidate>
  <input type="hidden" name="business" value="{{ site.paypal-email }}">
{% else %}
<form class="needs-validation" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" novalidate>
  <input type="hidden" name="business" value="{{ site.paypal-sandbox-email }}">
  <div class="alert alert-danger" role="alert">
    PayPal Sandbox Mode is On!
  </div>
{% endif %}


  <input type="hidden" name="cmd" value="_xclick">
  <input type="hidden" name="item_name" value="Pest Control Service">
  <input type="hidden" name="return" value="{{ site.url }}/thanks-payment">
{% if site.paypal-allow-cancel == true %}
  <input type="hidden" name="cancel_return" value="{{ site.url }}/payments">
{% endif %}

  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="first_name">First name</label>
      <input type="text" class="form-control" name="first_name" placeholder="" value="" required>
      <div class="invalid-feedback">
        Valid first name is required.
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <label for="last_name">Last name</label>
      <input type="text" class="form-control" name="last_name" placeholder="" value="" required>
      <div class="invalid-feedback">
        Valid last name is required.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="email">Email</label>
    <input type="email" class="form-control" name="email" placeholder="you@example.com" required>
    <div class="invalid-feedback">
      Please enter a valid email address.
    </div>
  </div>

{% if site.paypal-amount-onform == true %}
  <div class="mb-3">
    <label for="amount">Amount to Pay</label>
    <input type="number" step="0.01" class="form-control" name="amount" required>
    <div class="invalid-feedback">
      Please enter a valid amount.
    </div>
  </div>
{% endif %}

  <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to Payment</button>
</form> -->
