
<div class="request-form text-light">
  <h2>Request Inspection</h2>

  <form class="needs-validation text-white-50" action="https://formspree.io/{{ site.email }}" method="POST" data-track="Request Inspection" novalidate>

    <input type="hidden" name="_subject" value="Inspection Request From Your Website">
    <input type="hidden" name="_cc" value="{{ site.email-cc }}">
    <input type="hidden" name="_next" value="{{ site.url }}/thanks-request">

    <div class="form-group ">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="your@email.com" required>
      <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
      <div class="invalid-feedback">
        Valid email is required.
      </div>
    </div>

    <div class="form-group">
      <label for="contact-name">Contact Name</label>
      <input type="text" class="form-control" id="contact-name" name="contact-name" required>
      <div class="invalid-feedback">
        Please add your first and last name.
      </div>
    </div>
    
    <div class="form-group">
      <label for="zipcode">Service Zipcode</label>
      <input type="text" class="form-control" id="zipcode" name="zipcode" maxLength="5" pattern="[0-9]*" required>
      <div class="invalid-feedback">
        Valid zipcode is required.
      </div>
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="tel" class="form-control" id="phone" name="phone" placeholder="555-555-5555" minLength="16" maxLength="16" required>
      <div class="invalid-feedback">
        Valid phone number is required.
      </div>
    </div>

    <button type="submit" class="btn btn-warning" value="Send">Get Started</button>
  </form>
</div>
