// _jumbotron.scss      src/_sass/partials/
////////////////////////////////////////////////////////////

// Jumbotron
.home .jumbotron,
.page .jumbotron {
  background-image: url(/img/bg-house.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  border-radius: 0;
  min-height: rem-calc(300);
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, .5);
    z-index: 0;
    @include media-breakpoint-up(md) {
      background-color: rgba($black, .3);
    }
  }
}

// Page image position
.page .jumbotron {
  background-position: bottom center;
}

// Logo size 
.jumbotron .logo {
  max-width: 100%;
  @include media-breakpoint-up(lg) {
    max-width: rem-calc(500);
  }
}