// _nav.scss      src/_sass/partials/
////////////////////////////////////////////////////////////

// Navbar
.navbar {
  justify-content: center;
  background-color: $white;
  border-bottom: rem-calc(2) solid $forest-green;
  min-height: rem-calc(64);
}

// Logo Wrapper
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
}

// Logo
.navbar-brand img {
  height: rem-calc(44);
  @include media-breakpoint-up(lg) {
    margin-right: rem-calc(24);
  }
}

// Menu button
.navbar-toggler {
  position: absolute;
  right: rem-calc(12);
  top: rem-calc(12);
}

// Mobile alert for phone number
body > .alert {
  margin-bottom: 0;
}

nav .call-us a {
  margin-left: rem-calc(16);
}