// _reviews.scss      src/_sass/partials/
////////////////////////////////////////////////////////////

// Reviews section
.reviews-section {
  background-color: #b8e6b8;
}

// Review item
.review {
  display: flex;
  align-items: center;
  min-height: rem-calc(450);
  @include media-breakpoint-up(md) {
    min-height: rem-calc(350);
  }
}

// Review main content
.review .h2 {
  font-family: 'Bitter', serif;
  color: rgba($black, .8);
}

// Customer info container
.customer-info {
  display: flex;
  justify-content: center;
  width: 100%;
}

// Customer avatar
.customer-info img {
  border-radius: 100%;
  margin-right: rem-calc(16);
  height: rem-calc(50);
  width: rem-calc(50);
}

// Customer meta container
.customer-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: rem-calc(12);
}

// Review link
.review a {
  font-size: rem-calc(15);
  text-decoration: none;
  color: darkgreen;
  transition: all 100ms ease-in-out;
  &:hover {
    color: lighten(darkgreen, 20%);
  }
}