<!doctype html>
<html lang="en">

  {% include head.html %}

<body class="home">
  {% include gtm-2.html %}

  {% include nav.html %}

  <main role="main">
    <div class="jumbotron">
      <div class="container">
        <div class="inner row">
          <div class="jumbo-content text-light col-md-6 col-lg-8">

            {{ content }}

          </div>

          <div class="col-md-6 col-lg-4">

            {% include request-form.html %}

          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-4">
          <h2>Residential &amp; Commercial</h2>
          <p>Whether you own a home or a business, {{ site.title }} understands that you want a healthy, safe, and clean environment that will minimize the threat of pests before they become a problem. The best way to achieve this is through a continuous protection program designed to meet your specific needs. We’ll put together a treatment plan that’s smart, economical, and one that will protect your home, family and business all year long.</p>

          <p><a class="btn btn-secondary" href="/services/residential-commercial" role="button">Learn More &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <h2>Mosquito Control</h2>
          <p>Better Way Pest Control offers the most comprehensive and affordable mosquito control services for homeowners in our North Alabama service area. As an experienced outdoor pest control service provider, we are continually training our technicians with the most effective products and treatment techniques that will eliminate harmful pests and transform your property into a place you can kick back and relax!</p>

          <p><a class="btn btn-secondary" href="/services/mosquito" role="button">Learn More &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <h2>Brown Recluse Control</h2>

          <p>If you have seen what you believe to be a Brown Recluse spider in your home, the best method for control and removal of these creepy pests is to contact a trained pest control professional. A trained {{ site.title }} technician will conduct a complete inspection of your home’s interior and exterior to properly identify the spiders you’re dealing with and create a plan for the best treatment solution.</p>

          <p><a class="btn btn-secondary" href="/services/brown-recluse" role="button">Learn More &raquo;</a></p>
        </div>
      </div>

    </div>

    {% include reviews.html %}

  </main>
    
  {% include footer.html %}

  {% include scripts.html %}
</body>
</html>