<!doctype html>
<html lang="en">

  {% include head.html %}

<body class="home">

  {% include nav.html %}

  <main role="main">
    <div class="jumbotron">
      <div class="container">
        <div class="inner row">
          <div class="jumbo-content text-light col-md-6 col-lg-8">

            {{ content }}

          </div>

          <div class="col-md-6 col-lg-4">

            {% include request-form.html %}

          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-4">
          <h2>Residential Service</h2>
          <p>Like most homeowners, you want a healthy and clean living environment that minimizes the threat of pests before
          they become a problem. The best way to achieve that level of health and cleanliness is through continuous protection. You
          want a plan that’s smart, economical, and that protects all you love all year long. That’s what we do best.</p>

          <p><a class="btn btn-secondary" href="/services#residential-services" role="button">View details &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <h2>Mosquito Control</h2>
          <p>{{ site.title }} is now offering the most comprehensive and affordable mosquito control services for homeowners
          and businesses in the area. As an experienced outdoor pest control service company, we provide effective
          products and services that will eliminate harmful insects and transform backyards into a pest-free environment!</p>

          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <h2>Rodent Control</h2>
          <p>{{ site.title }} applies innovative, environmentally responsible
          techniques for handling nuisance rodent, animal, and pest problems. Don't be taken
          advantage of with a <em>one size fits all</em> solution that other companies offer. Contact us about our customized rodent removal service
          today.</p>

          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

    </div>

    {% include reviews.html %}

  </main>
    
  {% include footer.html %}

  {% include scripts.html %}
</body>
</html>