<!doctype html>
<html lang="en">

  {% include head.html %}

<body class="page payment">
  {% include gtm-2.html %}

  {% include nav.html %}

  <div class="content">
    <div class="jumbotron p-3 p-md-5 text-white bg-dark" style="background-image: url({{ page.featured-img }});">
      <div class="container">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">{{ page.name }}</h1>
          <p class="lead my-3">{{ page.excerpt }}</p>
        </div>
      </div>
    </div>

    <div class="container content">

      <div class="row">
        <div class="col-md-6 offset-md-3 mb-5">

          <div class="alert alert-secondary" role="alert">
            <h2 class="alert-heading">Information About Payments</h2>

            {{ content }}

          </div>

          {% include pay-button.html %}

        </div>
      </div>
    </div>
  </div>
  
  {% include footer.html %}
  
  {% include scripts.html %}
</body>
</html>