// _config.scss      src/_sass/
////////////////////////////////////////////////////////////

@import "./config-colors";
@import "./functions/rem-calc";

// Inner Container max-widths (bootstrap)
$container-max-widths: (
  sm: 420px,
  md: 720px,
  lg: 1200px
);

@import "./partials/fonts";
@import "./bootstrap/scss/bootstrap";
@import "./partials/typography";
@import "./partials/forms";
@import "./partials/nav";
@import "./partials/jumbotron";
@import "./partials/reviews";
@import "./partials/request-form";
@import "./partials/footer";
@import "./partials/thanks";
@import "./partials/contact";
@import "./partials/404";
@import "./partials/shame";


html {
  font-family: serif;
}